.container{

    
}

.header{
    position: sticky;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px -5px 14px -7px rgba(0,0,0,0.75);
}

.home_container, .deals_container, .cart_container, .favorite_container, .gifts_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;

    &:hover {
        cursor: pointer;
    }
    
}
.home_img, .deals_img, .cart_img, .favorite_img, .gifts_img{

    width: 30px;
    height: 30px;
}
.home_title, .deals_title, .gifts_title, .favorite_title, .cart_title{

    margin: 0;
}
